<div class="row auth-container">
    <form class="col-lg-6 col-sm-12 m-auto text-start" onsubmit="return isEmailValid(event)" method="post">
        <div class="auth-section">
            <span class="pb-3 mb-3 heading-text" style="color: #888888; border-bottom: 1px solid #888888;">
                Zaloguj się lub zarejestruj
            </span>
            <div class="form-floating mb-3" id="email_field">
                <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" required>
                <label for="emailInput">E-mail</label>
            </div>
            <div class="form-floating mb-3" id="password_field" style="display:none;">
                <input type="password" class="form-control" id="passwordInput" name="password" placeholder="password" required>
                <label for="passwordInput">Hasło</label>
            </div>
            <button class="btn btn-lg btn-outline-success mt-3" type="submit">Dalej</button>
        </div>
    </form>
</div>
