<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body> 
      <%- include('../partials/nav.ejs') %>
      <%- include('./auth_body.ejs')%>

      <script src="js/script.js"></script>
      <%- include('../partials/bootstrap.ejs') %>
</body>
</html>