<div class="row auth-container">
  <div class="col-lg-6 mb-4">
      <div class="auth-section">
          <h1 class="auth-title">Zaloguj się</h1>
          <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">E-mail</label>
          </div>
          <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Hasło</label>
          </div>
          <span class="text-muted">Nie pamiętasz hasła?</span>
          <button class="btn btn-lg btn-primary mt-3">Zaloguj</button>
      </div>
  </div>
  <div class="col-lg-6 mb-4">
      <div class="auth-section text-center">
          <h1 class="auth-title">Rejestracja</h1>
          <button class="btn btn-lg btn-success">Załóż konto</button>
      </div>
  </div>
</div>
