<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body> 
      <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 m-auto" style="display: none;" id="success_div">
                <div class="auth_section_success">
                    <span>Logowanie udane</span>
                    <i class="bi bi-check-circle-fill success_auth"></i>
                </div>
            </div>
          <form class="col-lg-6 col-sm-12 m-auto" onsubmit="return registration(event)" method="post" id="form_email">
            <div class="auth-section">
                <div class="d-flex">
                    <a class="mb-3 pb-3 heading-text_login" href="/auth">
                        Logowanie
                    </a>
                    <a class="mb-3 pb-3 heading-text_login" id="current_auth" href="/register">
                        Rejestracja
                    </a>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" required>
                    <label for="emailInput">E-mail</label>
                </div>
                
                <div class="form-floating">
                    <input type="password" class="form-control" id="passwordInput" name="password" placeholder="password" required style="margin-bottom: 0px !important;">
                    <label for="passwordInput">Hasło</label>
                </div>
                <span style="font-size: 12px;" class="mb-3">
                    Hasło powinno zawierać: jedną wielką literę, jedną małą literę, jedną cyfrę lub znak specjalny i min. 8 znaków
                </span>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="phoneInput" name="password" placeholder="Telefon" required style="margin-bottom: 0px !important;">
                    <label for="passwordInput"> Telefon</label>
                </div>
                <button class="btn btn-success m-auto" type="submit">Zarejestruj się</button>
            </div>
        </form>
        </div>
      </div>
      <script src="js/script.js"></script>
      <%- include('../partials/bootstrap.ejs') %>
</body>
</html>