<% cartItems.forEach(function(book) { %>
    <div class="col-lg-12">
      <div class="cart-item">
        <img src="/book.jpg" height="200"/>
        <div class="cart-item-section">
          <h6>Autor i tytuł</h6>
          <span><%= book.Autor%></span>
          <span><%= book.Tytuł %></span>
        </div>
        <div class="cart-item-section">
          <h6>Cena sprzedazy</h6>
          <span><%= parseInt(book.Cena * 0.9 )%> zł</span>
        </div>
        <div class="form-floating">
          <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" value="1">
          <label for="floatingInput">Ilość:</label>
        </div>
        <i class="bi bi-x-circle-fill" style="color: red;" onclick="removeFromCart('<%= book.id %>')"></i>
      </div>
    </div>
  <% }) %>