<div class="col-lg-6 m-auto">
    <div class="cart-stages d-flex justify-content-between align-items-center">
        <% purchase_stages.forEach(function(stage){ %>
            <div class="cart-stage-item text-center">
                
                <% if(current.includes(stage.title)){ %>
                    <a href=""><span class="stage-title"><%- stage.title %></span></a>
                    <div class="stage-circle active-stage"></div>
                <% }else { %>
                    <span class="stage-title"><%- stage.title %></span>
                    <div class="stage-circle"></div>
                <% } %>
            </div>
        <% }) %>
    </div>
</div>

<style>
    .cart-stages {
 
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .cart-stage-item {
        flex-grow: 1;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stage-title {
        font-size: 16px;
        font-weight: 500;
        color: #333;
        margin-bottom: 10px;
    }

    .stage-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ddd;
        border: 2px solid #ccc;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .active-stage {
        background-color: white;/* Green for the active stage */
        border-color: #28a745;
    }


    .cart-stage-item:first-child::before {
        display: none; /* Remove line before the first stage */
    }
    
    /* Responsiveness */
    @media (max-width: 768px) {
        .cart-stages {
            padding: 10px;
        }
        .stage-title {
            font-size: 14px;
        }
        .cart-stage-item::before {
            width: 50px;
        }
    }
</style>
