<div id="pop_up" style="opacity: 0;">
    <span>Produkt dodany <i class="bi bi-bag-check-fill"></i></span>
  </div>
  <div id="pop_up_error" style="opacity: 0;">
    <span>Wystąpił błąd <i class="bi bi-bag-x"></i></span>
  </div>