<div id="pop_up" style="opacity: 0;">
    <span>Produkt dodany <i class="bi bi-bag-check-fill"></i></span>
  </div>
  <div id="pop_up_error" style="opacity: 0;">
    <span>Wystąpił błąd <i class="bi bi-bag-x"></i></span>
  </div>

  <div id="pop_up_bookmarks" class="bg-danger m-1" href="/user/favourites" style="opacity: 0;">
    <span>Produkt dodany do ulubionych <i class="bi bi-bookmark-heart"></i></span>
  </div>