
html{
    font-family: "Roboto", sans-serif;
    font-weight: 100 !important;
    font-style: normal;
    padding: 30px;
  padding-bottom: 0px;
}
.book-details {
  padding: 20px;
}

.book-meta, .all-details-selected-book{
  display: flex;
  flex-direction: column;

}
.book-meta span {
  font-size: 1.1rem;
  margin: 5px 0;
}


body{
  box-sizing: border-box;
  background-color: transparent !important;
  display: flex !important;
  flex-direction: column;
  margin: 0px !important;
  margin: 0px;
}
.form-control {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}
a{
    text-decoration: none !important;
}
nav{
    height: 50px;
}
.navbar-left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
}
span, button, h1,h2,input,label, a, p, strong, .form-control, input{
    font-family: "Roboto", sans-serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
}
span, button, a{
    font-weight: 100 !important;
}
h1{
    font-weight: 300 !important;
}

.page_icon{
  height: 70px;
  width: 70px;
}

.navbar-title:hover {
  cursor: pointer;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
  transform: scale(1.05); /* Slight zoom on hover */
  transition: 0.3s ease-in-out; /* Smooth hover transition */
}

.navbar-title {
  font-size: 36px;
  font-weight: bold; /* Gradient for a warm bookish feel */
  color: transparent;
  color: black;
  -webkit-background-clip: text; /* Gradient text effect */
  background-clip: text;/* Slight letter spacing for readability */
}
.address_card{
  border: 1px solid #ddd;
}
#star_clicked, .bookmarks_selected_book:hover,.address_card:hover {
  transform: scale(1.02); 
  transition: 0.3s ease-in-out
}
.address_card:hover{
  cursor: pointer;
  border: 2px solid #007bff !important;
}
.bookmarks_selected_book:hover{
  cursor: pointer; 
  border-bottom:2px solid #007bff;

}



@media screen and (max-width: 400px){
  .page_icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}


.categories{
  width: 90vw;
  overflow: auto;
    width: 100%;
    font-weight: 300 !important;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.book_card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.book-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.book-details {
    padding: 15px;
}



.book-author-main {
    font-size: 16px;
    color: #666;
    margin: 0 0 15px;
}

.header-cart{
    margin: 20px 0px;
    padding: 20px 10px;
    border-bottom : 1px solid #888888;;
 
}
.auth-section,.auth_section_success, .auth_section_success_cart{
  margin-top: 50px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 32px  !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.auth_section_success{
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  flex-direction: row;
}


.auth-section  > button{
  width: 50%;
}


.order-complatition-check{
    margin: 10px;
    border-radius: 10px;
    padding: 20px ;
}
.auth-container{
    margin-top: 5% !important;

}
.cart-item{
    display: flex;
    justify-content: space-between;
    border-bottom : 1px solid #888888;;
}

.cart-item-section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-width: 300px;
    flex-wrap: wrap-reverse;


}



#pop_up,#pop_up_error,#pop_up_bookmarks{
    border: 1px solid white;
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    left: 44%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px !important;
    gap: 5px;
    border-radius: 20px;
    color: white;
}
#pop_up{
  background-color: green!important;
}

#pop_up_error{
    background-color: red !important;
}

.slide-in-bottom {
	    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
    animation: slide-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-bottom{
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000);
              transform: translateY(-1000);
      opacity: 0;
    }
  }
  
  .cart-stages{
    display: flex;
    font-size: 20px;
    margin-top: 30px;
    gap: 20px;
  }
  .cart-stages > div{
    width: 33%;
  }
.stage{
    height: 10px ;
    border: 1px solid #888888;
    border-radius: 10px;
}

#current_stage{
    background-color: green !important;
}

.shipping_option_text{
    font-size: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    color: black;
}

.header-text-no-registration{
    font-size: 32px;
}
#current_auth{
  border-bottom: 2px solid black;  
}
.heading-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  width: 100%;
}

.heading-text_login{
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}


.bordered{
    border-top: 1px solid #888888;
    margin: 20px 0px;
    padding: 20px 5px 0px 5px;
}


.cart-summary {
    border: 1px solid #dddddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

  }

  .cart-summary img {
    max-width: 100px;
    margin-right: 20px;
  }

  .cart-summary .details {
    flex-grow: 1;
  }

  .cart-summary .title {
    font-size: 18px;
    font-weight: bold;
  }

  .cart-summary .author {
    font-size: 16px;
    color: #888888;
  }

  .summary-section {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .summary-section h3 {
    border-bottom: 1px solid #888888;
    padding-bottom: 10px;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif !important;
    font-style: normal;
  }

  .summary-section .form-data {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between
  }

  .value {
    color: #666666;
    font-weight: 300 !important;
  }
  .header-cart {
    text-align: center;
    margin-bottom: 30px;
    border:none;
  }
  
  .header-cart h1 {
    font-size: 36px;
    font-weight: bold;
    color: #444;
    padding-bottom: 10px;
  }

  .cart-summary-container {
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  .cart-item img {
    width: 100px;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .cart-item-details {
    flex-grow: 1;
  }

  .cart-item-details h5 {
    font-size: 18px;
    margin: 0;
  }

  .cart-item-details .author {
    font-size: 14px;
    color: #888;
  }

  .cart-price {
    font-size: 18px;
    font-weight: bold;
  }

  .total-price {
    text-align: right;
    margin-top: 20px;
  }

  .total-price h1 {
    font-size: 28px;
    color: #444;
    font-weight: bold;
  }

  .proceed-button {
    margin-top: 30px;
    text-align: center;
  }

  .proceed-button a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }

  /* Empty cart message */
  .empty-cart-message {
    text-align: center;
    font-size: 24px;
    color: #888;
    margin-top: 50px;
  }


  .form-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 80%;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-check-label, label {
    color: #555;
    font-size: 15px;
  }

  .form-control {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .form-check-input {
    margin-right: 10px;
  }

  .categories {
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
  }
  /* From Uiverse.io by LightAndy1 */ 
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  

  

  .category-item {
    font-size: 16px;
    color: #555;
    padding: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .category-item:hover {
    color: #007bff;
  }

  .bordered {
    padding-bottom: 10px;
    border-top: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .btn-danger {
    background-color: #d9534f;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    width: 100%;
  }

  .btn-danger:hover {
    background-color: #c9302c;
  }

  .mt-4 {
    margin-top: 20px !important;
  }

  .dropdown_categories{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #ccc;
   padding: 20px 0px 20px 0px;
    height: 65px;


  }

  .dropdown_categories > p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 100 !important;
    font-style: normal;
    margin: 0px  !important;
    padding: 0px;
  }

  .dropdown_categories_extra{
    border-bottom: 1px solid #ccc;
    padding: 5px; 
    text-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    font-size: 18px;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .sub-title {
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex: 1;
    transition: color 0.3s ease;
  }
  .sub-title:hover{
    color: #007bff; 
    translate: 10px;
    cursor: pointer;
  }
  .container{
    margin-bottom: 30px;
  }
  .container,#fav_comments{
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both  !important; 
  }

  .success_auth{
    animation: heartbeat 1.5s ease-in-out infinite both;
    color: green;
    font-size: 70px;
  }
  @-webkit-keyframes heartbeat {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(0.91);
              animation-timing-function: ease-in;
    }
    17% {
              transform: scale(0.98);
              animation-timing-function: ease-out;
    }
    33% {
              transform: scale(0.87);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(0.91);
              animation-timing-function: ease-in;
    }
    17% {
              transform: scale(0.98);
              animation-timing-function: ease-out;
    }
    33% {
              transform: scale(0.87);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  .div_input_search{
    width: 25vw;
  }



  #icon_account{
    font-size: 70px;
    width: 30%;
  }
      
  .book-author {
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 20px;
  }
.account-sections{
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-sections > div{
  display: inherit;
  flex-direction: column;

}

.account-section-title{
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin: 0 0 10px;
}

.book-title {
font-size: 20px;
font-weight: 400;
color: #333;
}

.book-title-selected{
  font-size: 2.5rem;
font-weight: 700;
color: #333;
}

.book_selected_add{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
  align-items: end;
  padding: 10px;
}


.book_selected_add_buttons{
  display: flex;
flex-direction: row;
justify-content: end;
align-items: end;
gap: 10px;
}
.bookmarks_selected_book{
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
  text-align: center;
}

#bookmarks_selected_book_selected{
  border-bottom: 1px solid;
}
.log-out{
  position: absolute;
  bottom: 30px;
  width: 10vw;
  right: 30px;
}

.acc_infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address_id{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 15px;
  background-color: #0275d8;
  border-radius: 50%;
  
}

.start_center{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.gradient{
  background-color: rgba(221, 221, 221, 1);
background-image: linear-gradient(90deg,rgba(2, 117, 216, 1) 0%,  rgba(221, 221, 221, 1) 90% );
}